.readme_profile{
  font-family: 'Roboto', sans-serif;
}
.with-flex{
  display: flex;
  flex-flow: row wrap;
}
.row {
  display: flex;
}
.square{
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  height: 700px;
  width: 400px;
  background-color: lightsteelblue;
  margin: 5px 5px;
}
.logo{
  width: 15px;
  margin: 0px 5px;
}
.with-bottom{
  border-bottom: black 1px;
}